--time 600
--display 1
--nodes 1
--presolve-rounds 0
--presolve-restarts 0
--pscost-prior 1000000
--propag 0
--propag-rounds 0
--propag-rootrounds 0
--param_stamp ra.config
--output_path testes-global
--substring 0
--heur 1
--ls 0
--vnstime 5
--ngsize 3
--vnssec 0
--semy 1
--bcpa_rounding 1
--ra_novo 0
--ra_reduce 0
--ra_merge 0
--model_novo 0
--problem 2
